body {
    background-image: url("../img/fond.jpeg");
    background-size: cover;
    text-align: center;
}

h1 {
    color: white;
    text-transform: uppercase;
    border-left: 2px solid white;
    border-right: 2px solid white;
    text-align: center;
    font-family: 'Orbitron', Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 2.5em;
    margin: 0px 500px;
}

#bouton {
    max-width: 10%;
}

#multiplier {
    max-width: 3%;
}

.jeu {
    color: white;
    font-family: 'Orbitron', Geneva, Tahoma, sans-serif;
}

p {
    margin-top: 0px;
}

.clicker {
    margin-top: 50px;
    font-size: 1.5em;
}

.booster {
    margin-top: 50px;
}